body {
	background-color: 'white';
	font-family:"Trebuchet MS", Helvetica, sans-serif;	

}

.button {
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.edit{
	float:right;
	margin-right: 10px;
	cursor:pointer;
}
.nodecor{
	text-decoration: none;
}
#username{
	font-family:"Kozuka Gothic Pro", sans-serif;
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.changeprofpic {
	display:none;
}
#desctext {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 16px;
}
.prof-change{
	display: inline-block;
	float:right;
	border: none;
	padding: 5px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;;
}
#changepswd{
	margin-left: 20px; 
	margin-right: 20px;
}
.changeprofdesc {
	display:none;
}
#profiledesc{
	background-color: white;
	margin-right: 10%;
	padding: 5px;
	cursor: pointer;
}
.cursor{
	cursor:pointer;
}
#profile{
	width: 60%;
	background-color: #E04343;
	padding-left: 10px;
	padding-bottom: 10px;
}
.profile-buttons{
	background-color: #FFC14F;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 2px;
    cursor: pointer;
}
#profile-tabs{
	float:top;
	background-color: #9CEDFF; 
	width: 56%;
	padding-left: 5px;
}
.delete{
	border: none;
	color: grey;
	font-size: 20px;
	font-weight: bold;
	padding: 5px;
	cursor: pointer;
	background-color: #F2CB57;
	
	float: right;
	margin-right:30px;
}
#error{
	color:red;
}
.delete:hover{
	color:red;
}
.pencil_img{
	margin-top:5px;
	float: right;
	width:20px;
	height:20px;
 	display:block;
	background:transparent url('pencil.png') center no-repeat;
}
.pencil_img:hover{
	background: url('pencil_test.png') center no-repeat;
}
.entry_titles {
	list-style: none;

}

.entries {
	background-color: #F2CB57;
	margin-right: 40%;
	padding-bottom: 50px;
}
.test {
	width: 50%;
}
.page_entry{
	background-color: #0FFAB7;
	margin-right: 20%;
	margin-left: 20%;
	padding-left: 5%;
	padding-right: 5%;
}
.page_header{
	background-color: #FA8D34;
	margin-right: 20%;
	margin-left: 20%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom:10px;
	margin-bottom: 0px;
}

.page_entry p{
	margin-top: 0px;
}
.imgw{
	width: 100%;
	height:auto;
}
.imgh{
	height: 100%;
	width; auto;
}

li a h2{
	float: left;
	clear: left;
	margin: 0px;
}

li p {
display:block

}
.center{
	position: relative;
	  height: 200px;
  width: 70%;
  margin: 0 auto;
  padding: 20px;
}

.login_info{
	font-size:40px;
	transform: translate(-50%, -50%);
    position: absolute;
    top: 70%;
    left: 50%;
    padding: 20px;
}

.title{
	width: 1000px;
	height: 40px;
	font-size: 40px;
	font-family: "Courier New", Courier, monospace;	

}