{% extends "layout.html" %}
{% block body %}
<h1 align="center" class="page_header"> {{entry.title}} </h1>

<div class="page_entry">

{%if entry.img_name != ""%}
	{%if entry.img_size[0] > 500 and entry.img_size[1] > 700 %}
		<img src="/uploads/{{entry.img_name}}" class="imgw imgh" >
	{%elif entry.img_size[0] > 500%}	
		<img src="/uploads/{{entry.img_name}}" class="imgw " >
	{%else%}
		<img src="/uploads/{{entry.img_name}}" class="imgh " >
	{%endif%}
{%endif%}

	<p style="white-space: pre-line"> {{entry.text}}
	Last Modified {{entry.date}} by {{entry.creator}}
</div>
{% endblock %}