{% extends "layout.html" %}
{% block body %}
<br>Your email has been sent. Please wait for a few minutes just in case.
{%if wrong==True%}
	<p id=error>ERROR: The code you submitted was incorrect<p>
{%endif%}
<form action="{{url_for('submitcode')}}" method=post class=add-entry enctype="multipart/form-data">
		<dl>
			<input name='email' type=hidden value='{{email}}'>
			<dt> Verification Code:
			<dd><input type=text name=code></input>
			<dd><input type=submit value='Submit'>
		</dl>
	</form>

{% endblock %}