{% extends "layout.html" %}
{% block body %}
{%if noemail==True%}
	<p id="error">ERROR: Your account is not linked to an email adress yet</p>
{%endif%}
{%if wrongemail==True%}
	<p id="error">ERROR: The email you submitted was invalid</p>
{%endif%}
<form action="{{url_for('sendeml')}}" method=post class=add-entry enctype="multipart/form-data">
		<dl>
			<dt class='title'> Email:
			<dd><input type=text name=email class='title'></input>
			<dd><input type=submit value='Send Email'>
		</dl>
	</form>

{% endblock %}