<!doctype html>
<link rel=stylesheet type=text/css href="{{url_for('static', filename='style.css')}}">
<title>Basic Blog</title>
<link rel="icon" 
type="image/png" 
href="{{url_for('static', filename='favicon.ico')}}">
<div class='page'>
<a href="/"><button class="button">Home</button></a>
{%if request.path == "/login"%}

{%elif session['logged_in'] == True%}
	<a href="/log_out"><button class="button">Log Out</button></a>
{%else%}
	<a href="/login"><button class="button">Log In</button></a>
{%endif%}

	{% block body %}{% endblock %}

</div>